doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name="keywords" content="網頁, 前端, 黃立寧, 設計, UI, tw, Li-Ning, Website, HTML, CSS, Javascript, JQuery")
		title Li-Ning Huang's Portfolio
		//- link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.2/css/all.css', integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr', crossorigin='anonymous')
		link(rel='stylesheet', href='css/style.css')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")

	body
		.navbar.desktop_navbar
			a(href="#myheader").navbar_logo LN
			.navbar_list
				a(href="#intro_section").listItem 關於我
				a(href="#skill_section").listItem 技能
				a(href="#experience_section").listItem 經驗
				a(href="#works_section").listItem 作品集
		.navbar.mobile_navbar
			a(href="#myheader").navbar_logo LN
			.hamburger
				span#nottop
			ul(style="display: none")
				li
					a(href="#intro_section").listItem 關於我
				li
					a(href="#skill_section").listItem 技能
				li
					a(href="#experience_section").listItem 經驗 
				li
					a(href="#works_section").listItem 作品集

		#myheader
			#name
				h1 Li-Ning Huang
				hr
			#job_title
				p 網頁前端工程 | 平面設計 | UI/UX設計
			.link_wrap
				a(href="https://github.com/huang798" target="_blank")
					i.fab.fa-github-square#github
				a(href="#")
					i.fab.fa-medium#medium
			#mouse_icon
				#wheel
		#intro_section
			.intro_left
				.intro_photo
				.dialog#dialog1
				.dialog#dialog2
			.intro_text
				h1 關於我
				p 畢業於台灣高中，隨後進入美國普渡大學電腦圖像工程系就讀。在校期間涉獵
					span  網頁前端開發
					| 、
					span UI/UX設計
					| 、
					span 平面設計
					| 等等面向，其中對於設計領域和網站開發有著熱枕。
				p 大二時在校內報社The Exponent和TEDxPurdueU擔任平面設計師，大四時則擔當大學內的教育學系的平面設計實習生，幫忙製作宣傳海報、設計相關部門的LOGO等等。大四的畢業製作與Purdue Conference合作，小組替他們製作了可在智慧型手機上操作的購票網站。
				br
				p 踏入網頁開發的領域後，透過部分學校課程和線上課程的眾多資源，自主學習了前端開發的各種工具，包括基本的HTML、CSS、JavaScript，和好用的JQuery、Bootstrap、Git/GitHub等等。
				br
				p 現在的目標是以
					span 網頁前端工程師
					| 的身分加入網頁架設團隊，與其他人一同打造美觀而友善使用者的網站！

		#skill_section
			.left_wrap
				.left_wrap1
					//- replace < by &lt; and > by &gt;
					p.note_title 
						span h1 &nbsp;
						| 核心技能
					p
						span &nbsp; &nbsp; &nbsp; p &nbsp;
						| SASS + PostCSS 規劃響應式網頁板型

					p
						span &nbsp; &nbsp; &nbsp; p &nbsp;
						| JavaScript/JQuery 製作動畫效果

					p
						span &nbsp; &nbsp; &nbsp; p &nbsp;
						| AJAX資料串接

					p
						span &nbsp; &nbsp; &nbsp; p &nbsp;
						| 介接API

					p
						span &nbsp; &nbsp; &nbsp; p &nbsp;
						| 熟悉CSS框架Bootstrap

					p
						span &nbsp; &nbsp; &nbsp; p &nbsp;
						| 會使用JavaScript框架Vue.js

				.left_wrap2
					p.note_title
						span h1 &nbsp; &nbsp;
						| 其他重點技能

					p
						span &nbsp; &nbsp; &nbsp; p &nbsp;
						| Gulp自動化流程

					p
						span &nbsp; &nbsp; &nbsp; p &nbsp;
						| Git/GitHub團隊協作

					p
						span &nbsp; &nbsp; &nbsp; p &nbsp;
						| 習慣Pug(Jade)、SASS等模板引擎

			.right_wrap
				i.fas.fa-laptop-code
				h1 &lt;技能/&gt;
			

		#experience_section
			.left_wrap
				i.fas.fa-envelope-open-text
				h1 &lt;經驗/&gt;
			.right_wrap
				.exp#exp1
					.date#date1 8/2016 - 1/2017
					p.title TEDxPurdueU校內組織
					p.text 在TEDxPurdueU擔任平面設計師。通常的工作內容包含參與定期會議幫忙發想市場銷售的點子，並根據邀請的講者的演講內容製作相關的宣傳海報、組織成員的制服T恤等。
				.exp#exp2
					.date#date2 10/2018 - 5/2019
					p.title Purdue Education Department
					p.text 在普渡大學的教育學系擔任平面設計實習生，負責設計海報、LOGO、傳單的模板等等。也參與行銷組的固定會議，學習、了解關於行銷的手法與技巧。
				.exp#exp3
					.date#date3 1/2019 - 5/2019
					p.title Purdue Conference
					p.text 畢業製作和Purdue Conference合作，替他們設計、製作一款使用者友善且能夠全程在手機上進行操作的售票網站。組別製作了包括設計與開發前端的核心內容，而我主要負責用作門票的QR Code的自動生成、嵌入E-mail、發送等內容。

		#works_section
			//- .container.demo
			h1 作品集
			hr
			.direction-reveal.direction-reveal--3-grid-flexbox.direction-reveal--demo-swing
				a(href="https://huang798.github.io/sweetShop/" target="_blank").direction-reveal__card
					img.img-fluid(src='images/sweetshop.jpg', alt='Image')
					.direction-reveal__overlay.direction-reveal__anim--in
						h3.direction-reveal__title 甜點電商
						p.direction-reveal__text
							| Description
				a(href="https://codepen.io/LiNing_Huang/pen/QBOwxb?editors=1100" target="_blank").direction-reveal__card
					img.img-fluid(src='images/Vue_piano.jpg', alt='Image')
					.direction-reveal__overlay.direction-reveal__anim--in
						h3.direction-reveal__title Vue鋼琴
						p.direction-reveal__text
							| Description
				a(href="https://huang798.github.io/KaohsiungTravelPublic/" target="_blank").direction-reveal__card
					img.img-fluid(src='images/1553645756423.jpg', alt='Image')
					.direction-reveal__overlay.direction-reveal__anim--in
						h3.direction-reveal__title 高雄旅遊網
						p.direction-reveal__text
							| Description
				a(href="" target="_blank").direction-reveal__card
					img.img-fluid(src='images/mountain-3.jpg', alt='Image')
					.direction-reveal__overlay.direction-reveal__anim--in
						h3.direction-reveal__title Title
						p.direction-reveal__text
							| Description
				a(href="#" target="_blank").direction-reveal__card
					img.img-fluid(src='images/sweetshop.jpg', alt='Image')
					.direction-reveal__overlay.direction-reveal__anim--in
						h3.direction-reveal__title 甜點電商
						p.direction-reveal__text
							| Description
				a(href="" target="_blank").direction-reveal__card
					img.img-fluid(src='images/mountain-2.jpg', alt='Image')
					.direction-reveal__overlay.direction-reveal__anim--in
						h3.direction-reveal__title Title
						p.direction-reveal__text
							| Description
				a(href="" target="_blank").direction-reveal__card
					img.img-fluid(src='images/mountain-3.jpg', alt='Image')
					.direction-reveal__overlay.direction-reveal__anim--in
						h3.direction-reveal__title Title
						p.direction-reveal__text
							| Description
				a(href="" target="_blank").direction-reveal__card
					img.img-fluid(src='images/mountain-3.jpg', alt='Image')
					.direction-reveal__overlay.direction-reveal__anim--in
						h3.direction-reveal__title Title
						p.direction-reveal__text
							| Description

		#contact_section
			.photo
			hr
			#email
				i.far.fa-envelope
				p huangln1996@gmail.com
			//- br
			#phone
				i.fas.fa-phone
				p 626-734-0816




				//- .skill_mobile
				
		

		
		
		//- script(src='https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
		script(src='js/all.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')